body {
    background-color: rgb(7, 121, 220);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.board :hover{
   background-color: red;
    width: auto;
    height: auto;
}

table {
    background-color: rgb(7, 121, 220);
    width: auto;
    height:auto;
    display:inline-block;
    margin: auto;
}
.hide{
    display: none;
}
.cell{
     background-color: aliceblue;
     padding: 25px;
    border: 10px;
    width: 40px;
    height: 40px;
    color: black;
    text-align: center;
}

.cell img{
    width: 25px;
    height: 25px;
}

.floor {
    background-color: gray;
}


.marked {
    background-color: lightpink;
}
.cell h1{
    display: none;
}
button{
    text-align: center;
    display:inline-block;
}